@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.content {
    width: 70%;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15rem;
}

.header_title {
    composes: title from "../../style/typo.module.css";
    margin-bottom: 1rem;
}

.text {
    composes: text from "../../style/typo.module.css";
}

.button_container {
    text-align: center;
}

.button {
    composes: buttonAdventure from "../../style/buttons.module.css";
}