@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.content {
    width: 60%;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.header {
    margin-bottom: 5rem;
}

.header_title {
    composes: title from "../../style/typo.module.css";
    margin-bottom: 2rem;
}

.header_subtitle {
    composes: subtitle from "../../style/typo.module.css";
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: left;
}

.line {
    width: 2rem;
    height: .3rem;
    background-color: white;
    margin-right: 1rem;
}

.text {
    composes: text from "../../style/typo.module.css";
}

.bold {
    composes: textBold from "../../style/typo.module.css";
    padding-bottom: 1rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    text-align: center;
}

.option_image {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.button_container {
    text-align: center;
}

.button {
    composes: buttonAdventure from "../../style/buttons.module.css";
}
