@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.content {
    width: 70%;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.header_title {
    composes: title from "../../style/typo.module.css";
    margin-bottom: 1rem;
}

.header_subtitle {
    composes: subtitle from "../../style/typo.module.css";
    margin-bottom: 1.5rem;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.subtitle:before {
    display: block;
    content: ' ';
    background-image: url('/assets/buttons/logo_halo.svg');
    background-size: 3rem 3rem;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.text {
    composes: text from "../../style/typo.module.css";
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.polaroid_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_polaroid {
    position: absolute;
    overflow: hidden;
    width: 40rem;
    height: 40rem;
}

.polaroid_image_right {
    width: 30rem;
    height: 29rem;
    object-fit: cover;
    transform: rotate(7deg);
}

.polaroid_image_left {
    width: 30rem;
    height: 29rem;
    object-fit: cover;
    transform: rotate(-7deg);
}

.button_container {
    text-align: center;
}

.button {
    composes: buttonAdventure from "../../style/buttons.module.css";
}