@value tokens: "./tokens.module.css";
@value backgroundColor, primaryColor, blackColor from tokens;

.inputFill {
  padding: 1.8rem 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white ;
  border: none;
  border-radius: 1rem;
  display: inline-block;
}

.buttonBlack {
  background-image: url(/assets/buttons/button_black.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonWhite from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
}

.buttonRed {
  background-image: url(/assets/buttons/button_red.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonWhite from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
}

.buttonCulture {
  background-image: url(/assets/buttons/button_white.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonOrange from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
}

.buttonRelax{
  background-image: url(/assets/buttons/button_white.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonBlue from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
}

.buttonAdventure{
  background-image: url(/assets/buttons/button_white.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonPurple from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
}

.buttonBlue{
  background-image: url(/assets/buttons/button_blue.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonPurple from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttonPurple{
  background-image: url(/assets/buttons/button_purple.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonPurple from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttonOrange{
  background-image: url(/assets/buttons/button_orange.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: buttonPurple from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  justify-content: center;
  color: white;
}