@value tokens: "./tokens.module.css";
@value blackColor, backgroundColor from tokens;

.title {
  font-family: bely-display, serif;
  color: blackColor;
  text-decoration: none;
  font-size: 2.2rem;
}

.subtitle {
  font-family: montserrat, sans-serif;
  color: blackColor;
  text-decoration: none;
  font-size: 1.4rem;
}

.text {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.4rem;
  color: blackColor;
}

.button {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: backgroundColor;
}