@value tokens: "./tokens.module.css";
@value blackColor, backgroundColor from tokens;

.title {
  font-family: bely-display, serif;
  color: blackColor;
  text-decoration: none;
  font-size: 3.5rem;
}

.subtitle {
  font-family: montserrat, sans-serif;
  color: blackColor;
  text-decoration: none;
  font-size: 2rem;
  font-style: italic;
}

.text {
  font-family: montserrat-medium, sans-serif;
  font-size: 2rem;
  color: blackColor;
  padding-bottom: .5rem;
}

.bold {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: blackColor;
}

.buttonWhite {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: backgroundColor;
}

.buttonOrange {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: backgroundColor;
}

.buttonPurple {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: #47054A;
}

.buttonBlue {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: #04476B;
}

.buttonOrange {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: #D26247;
}

.error {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  color: primaryColor;
}