@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.content {
}

.part {
    padding: 5rem 0 5rem 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 100%;
    margin-bottom: 3rem;
}

.header_profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.header_logo {
    padding-right: 1rem;
}

.title_purple {
    composes: title from "../../style/typo.module.css";
    color: #430D34;
}

.title_blue {
    composes: title from "../../style/typo.module.css";
    color: #103F66;
}

.title_orange {
    composes: title from "../../style/typo.module.css";
    color: #D05B3F;
}

.header_subtitle {
    composes: subtitle from "../../style/typo.module.css";
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    color: blackColor;
}

.bold {
    font-weight: 600;
}

.options {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 3rem;
    grid-template-areas:
    "two two three"
    "one one three";
    height: 90%;
    width: 100%;
}

.info_polaroid {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    position: relative;
}

.image_container {
    width: 100%;
    align-self: center;
}

.option_image {
    width: 100%;
    height: auto;
}

.activity {
    display: flex;
    flex-direction: column;
}

.activity:nth-child(2) {
    grid-area: one;
    width: 70%;
    justify-self: flex-start;
    justify-content: center;
}

.activity:first-child {
    grid-area: two;
    width: 70%;
    justify-self: flex-end;
    justify-content: center;
}

.activity:nth-child(3){
    grid-area: three;
    width: 110%;
    justify-self: flex-end;
    align-self: center;
    position: relative;
}

.option_image {
    width: 100%;
}

.option_text {
    composes: normal from "../../style/typo.module.css";
    padding-left: 1rem;
}

.option_text_bold {

  font-weight: 500;
  composes: normal from "../../style/typo.module.css";
  padding-left: 1rem;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    text-align: center;
}

.button_container_polaroid {
    text-align: center;
    position: relative;
}

.button_opacity {
    opacity: .3;
}

.activity:nth-child(3) .button_container{
    position: absolute;
    grid-area: three;
    width: 115%;
    justify-self: flex-end;
    align-self: center;
    position: absolute;
    bottom: 28%;
    left: 0;
    text-align: center;
    padding-left: 5rem;
}

.button_ontspanning {
    composes: buttonBlue from "../../style/buttons.module.css";
}

.button_cultuur {
    composes: buttonOrange from "../../style/buttons.module.css";
}

.button_avontuur {
    composes: buttonPurple from "../../style/buttons.module.css";
}

.next_flex {
    display: flex;
    align-items: center;
}

.next {
    composes: normal from "../../style/typo.module.css";
    font-style: italic;
    font-size: 1.6rem;
    padding-right: .5rem;
}

.checkbox {
    display: none;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}
