@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.content {
}

.part {
    padding: 5rem 0 5rem 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 100%;
    margin-bottom: 3rem;
}

.header_profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.header_logo {
    padding-right: 1rem;
}

.title_purple {
    composes: title from "../../style/typo.module.css";
    color: #430D34;
}

.title_blue {
    composes: title from "../../style/typo.module.css";
    color: #103F66;
}

.title_orange {
    composes: title from "../../style/typo.module.css";
    color: #D05B3F;
}

.header_subtitle {
    composes: subtitle from "../../style/typo.module.css";
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    color: blackColor;
}

.bold {
    font-weight: 600;
}

.options {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 80%;
    align-self: center;
}

.option_image {
    width: 100%;
    height: auto;
}

.option_text {
    composes: normal from "../../style/typo.module.css";
    padding-left: 1rem;
}

.activity:first-child{
    align-self: flex-end;
}

.activity:nth-child(2){
    align-self: flex-start;
}

.activity:nth-child(3){
    align-self: center;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    text-align: center;
}

.button_ontspanning {
    composes: buttonBlue from "../../style/buttons.module.css";
}

.button_cultuur {
    composes: buttonOrange from "../../style/buttons.module.css";
}

.button_avontuur {
    composes: buttonPurple from "../../style/buttons.module.css";
}

.next_container {
}

.next_flex {
    display: flex;
    align-items: center;
}

.next {
    composes: normal from "../../style/typo.module.css";
    font-style: italic;
    font-size: 1.6rem;
    padding-right: .5rem;
}