@value tokens: "../../style/tokens.module.css";
@value primaryColor, blackColor from tokens;

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 70% 1fr;
    height: 100vh;
    background-image: url(/assets/backgrounds/dashboard_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part {
    height: 100%;
}

.header {
    text-align: center;
}

.header_title {
    composes: title from "../../style/typo.module.css";
    margin-bottom: 1rem;
    color: blackColor;
}

.button_container {
    text-align: center;
    margin-top: 10rem;
}

.button {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.login {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form_input {
    composes: inputFill from "../../style/buttons.module.css";
    width: 100%;
    margin: .5rem 0;
}

.input_container {
    composes: text from "../../style/typo.module.css";
    padding: 1rem 0;
    width: 50%;
    margin: 0 auto;
}

.input_text {
    composes: normal from "../../style/typo.module.css";
    color: blackColor ;
}

.form_option {
    composes: bold from "../../style/typo.module.css";
    text-align: center;
}

.container_google {
    display: flex;
    justify-content: center;
}

.button_google {
    composes: buttonRed from "../../style/buttons.module.css";
}

.form_register {
    composes: italic from "../../style/typo.module.css";
    text-align: center;
    text-decoration: none;
}

.register_bold {
    font-weight: 700;
}

.form_error {
    composes: error from "../../style/typo.module.css";
    padding-bottom: 2rem;
}
