@import './reset.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.container{
  width: 100%;
  display: grid;
  grid-template-rows: 1.5fr 60% 1fr;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 70% 1fr;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: center;
  padding-top: 2rem;
}

.navigation_back, .navigation_quit {
  text-align: center;
}

.navigation_back {
  grid-column: 1;
}

.navigation_quit {
  grid-column: 3;
}

.menu {
  margin: 0 auto;
  grid-column: 2;
  display: flex;
  align-items: self-start;
}

.menu_item {
  padding: 0 1rem;
}

.webp .welcome {
  background-image: url(/assets/backgrounds/dashboard_1.webp);
}

.no-webp .welcome {
  background-image: url(/assets/backgrounds/dashboard_1.jpg);
}

.webp .onboardinga {
  background-image: url(/assets/backgrounds/dashboard_1.webp);
}

.no-webp .onboardinga {
  background-image: url(/assets/backgrounds/dashboard_1.jpg);
}

.webp .onboardingb {
  background-image: url(/assets/backgrounds/dashboard_3.webp);
}

.no-webp .onboardingb {
  background-image: url(/assets/backgrounds/dashboard_3.jpg);
}

.webp .onboardingc {
  background-image: url(/assets/backgrounds/dashboard_4.webp);
}

.no-webp .onboardingc {
  background-image: url(/assets/backgrounds/dashboard_4.jpg);
}

/* Dashboard */

.webp .dashboard_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_1.webp);
}

.no-webp .dashboard_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_1.jpg);
}

.webp .dashboard_cultuur {
  background-image: url(/assets/backgrounds/culture_1.webp);
}

.no-webp .dashboard_cultuur {
  background-image: url(/assets/backgrounds/culture_1.jpg);
}

.webp .dashboard_ontspanning {
  background-image: url(/assets/backgrounds/relax_1.webp);
}

.no-webp .dashboard_ontspanning {
  background-image: url(/assets/backgrounds/relax_1.jpg);
}

/* Dag 1 Stap 1 */

.webp .container_een_1_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_1.webp), url(/assets/backgrounds/adventure_2.webp);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_1_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_1.jpg), url(/assets/backgrounds/adventure_2.jpg);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_1_cultuur {
  background-image:  url(/assets/images/d1_culture_1.webp), url(/assets/backgrounds/culture_2.webp);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_1_cultuur {
  background-image:  url(/assets/images/d1_culture_1.jpg), url(/assets/backgrounds/culture_2.jpg);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_1_ontspanning {
  background-image:  url(/assets/images/d1_lazy_1.webp), url(/assets/backgrounds/relax_2.webp);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_1_ontspanning {
  background-image:  url(/assets/images/d1_lazy_1.jpg), url(/assets/backgrounds/relax_2.jpg);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

/* Dag 1 Stap 2 */

.webp .container_een_2_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_3.webp);
}

.no-webp .container_een_2_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_3.jpg);
}

.webp .container_een_2_cultuur {
  background-image: url(/assets/backgrounds/culture_3.webp);
}

.no-webp .container_een_2_cultuur {
  background-image: url(/assets/backgrounds/culture_3.jpg);
}

.webp .container_een_2_ontspanning {
  background-image: url(/assets/backgrounds/relax_3.webp);
}

.no-webp .container_een_2_ontspanning {
  background-image: url(/assets/backgrounds/relax_3.jpg);
}

/* Dag 1 Stap 3 */

.webp .container_een_3_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_3.webp), url(/assets/backgrounds/adventure_4.webp);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_3_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_3.jpg), url(/assets/backgrounds/adventure_4.jpg);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_3_cultuur {
  background-image:  url(/assets/images/d1_culture_3.webp), url(/assets/backgrounds/culture_4.webp);
  background-size: 45% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_3_cultuur {
  background-image:  url(/assets/images/d1_culture_3.jpg), url(/assets/backgrounds/culture_4.jpg);
  background-size: 45% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_3_ontspanning {
  background-image:  url(/assets/images/d1_lazy_3.webp), url(/assets/backgrounds/relax_4.webp);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_3_ontspanning {
  background-image:  url(/assets/images/d1_lazy_3.jpg), url(/assets/backgrounds/relax_4.jpg);
  background-size: 50% auto, cover;
  background-position: bottom right, center;
}

/* Dag 1 Stap 4 */

.webp .container_een_4_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_4.webp), url(/assets/backgrounds/adventure_5.webp);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_4_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_4.jpg), url(/assets/backgrounds/adventure_5.jpg);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_4_cultuur {
  background-image:  url(/assets/images/d1_culture_4.webp), url(/assets/backgrounds/culture_5.webp);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_4_cultuur {
  background-image:  url(/assets/images/d1_culture_4.jpg), url(/assets/backgrounds/culture_5.jpg);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_4_ontspanning {
  background-image:  url(/assets/images/d1_lazy_4.webp), url(/assets/backgrounds/relax_5.webp);
  background-size: 35% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_4_ontspanning {
  background-image:  url(/assets/images/d1_lazy_4.jpg), url(/assets/backgrounds/relax_5.jpg);
  background-size: 35% auto, cover;
  background-position: bottom right, center;
}

/* Dag 1 Stap 5 */

.webp .container_een_5_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_5.webp), url(/assets/backgrounds/adventure_6.webp);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_5_avontuurlijk {
  background-image:  url(/assets/images/d1_adventure_5.jpg), url(/assets/backgrounds/adventure_6.jpg);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_5_cultuur {
  background-image:  url(/assets/images/d1_culture_5.webp), url(/assets/backgrounds/culture_6.webp);
  background-size: 35% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_5_cultuur {
  background-image:  url(/assets/images/d1_culture_5.jpg), url(/assets/backgrounds/culture_6.jpg);
  background-size: 35% auto, cover;
  background-position: bottom right, center;
}

.webp .container_een_5_ontspanning {
  background-image:  url(/assets/images/d1_lazy_5.webp), url(/assets/backgrounds/relax_6.webp);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

.no-webp .container_een_5_ontspanning {
  background-image:  url(/assets/images/d1_lazy_5.jpg), url(/assets/backgrounds/relax_6.jpg);
  background-size: 40% auto, cover;
  background-position: bottom right, center;
}

/* Dag 1 Stap 6 */

.webp .container_een_6_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_7.webp);
}

.no-webp .container_een_6_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_7.jpg);
}

.webp .container_een_6_cultuur {
  background-image: url(/assets/backgrounds/culture_7.webp);
}

.no-webp .container_een_6_cultuur {
  background-image: url(/assets/backgrounds/culture_7.jpg);
}

.webp .container_een_6_ontspanning {
  background-image: url(/assets/backgrounds/relax_7.webp);
}

.no-webp .container_een_6_ontspanning {
  background-image: url(/assets/backgrounds/relax_7.jpg);
}

/* Dag 2 Stap 1 */

.webp .container_twee_1_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_6.webp);
  background-size: cover;
  background-position:center;
}

.no-webp .container_twee_1_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_6.jpg);
  background-size: cover;
  background-position:center;
}

.webp .container_twee_1_cultuur {
  background-image: url(/assets/backgrounds/culture_6.webp);
  background-size:  cover;
  background-position:  center;
}

.no-webp .container_twee_1_cultuur {
  background-image: url(/assets/backgrounds/culture_6.jpg);
  background-size:  cover;
  background-position:  center;
}

.webp .container_twee_1_ontspanning {
  background-image:  url(/assets/backgrounds/relax_6.webp);
  background-size: cover;
  background-position: center;
}

.no-webp .container_twee_1_ontspanning {
  background-image:  url(/assets/backgrounds/relax_6.jpg);
  background-size: cover;
  background-position: center;
}

/* Dag 2 Stap 2 */

.webp .container_twee_2_avontuurlijk {
  background-image: url(/assets/backgrounds/d2_adventure_3.webp);
}

.no-webp .container_twee_2_avontuurlijk {
  background-image: url(/assets/backgrounds/d2_adventure_3.jpg);
}

.webp .container_twee_2_cultuur {
  background-image: url(/assets/backgrounds/d2_culture_3.webp);
}

.no-webp .container_twee_2_cultuur {
  background-image: url(/assets/backgrounds/d2_culture_3.jpg);
}

.webp .container_twee_2_ontspanning {
  background-image: url(/assets/backgrounds/d2_relax_3.webp);
}

.no-webp .container_twee_2_ontspanning {
  background-image: url(/assets/backgrounds/d2_relax_3.jpg);
}

/* Dag 2 Stap 3 */

.webp .container_twee_3_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_1.webp);
  background-size: cover;
  background-position: center;
}

.no-webp .container_twee_3_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_1.jpg);
  background-size: cover;
  background-position: center;
}

.webp .container_twee_3_cultuur {
  background-image: url(/assets/backgrounds/culture_1.webp);
  background-size: cover;
  background-position:  center;
}

.no-webp .container_twee_3_cultuur {
  background-image: url(/assets/backgrounds/culture_1.jpg);
  background-size: cover;
  background-position:  center;
}

.webp .container_twee_3_ontspanning {
  background-image:  url(/assets/backgrounds/relax_1.webp);
  background-size: cover;
  background-position:center;
}

.no-webp .container_twee_3_ontspanning {
  background-image:  url(/assets/backgrounds/relax_1.jpg);
  background-size: cover;
  background-position:center;
}

/* Dag 2 Stap 4 */

.webp .container_twee_4_avontuurlijk {
  background-image: url(/assets/backgrounds/d2_adventure_3.webp);
}

.no-webp .container_twee_4_avontuurlijk {
  background-image: url(/assets/backgrounds/d2_adventure_3.jpg);
}

.webp .container_twee_4_cultuur {
  background-image: url(/assets/backgrounds/d2_culture_3.webp);
}

.no-webp .container_twee_4_cultuur {
  background-image: url(/assets/backgrounds/d2_culture_3.jpg);
}

.webp .container_twee_4_ontspanning {
  background-image: url(/assets/backgrounds/d2_relax_3.webp);
}

.no-webp .container_twee_4_ontspanning {
  background-image: url(/assets/backgrounds/d2_relax_3.jpg);
}

/* Dag 2 Stap 5 */

.webp .container_twee_5_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_6.webp);
  background-size:  cover;
  background-position: center;
}

.no-webp .container_twee_5_avontuurlijk {
  background-image: url(/assets/backgrounds/adventure_6.jpg);
  background-size:  cover;
  background-position: center;
}

.webp .container_twee_5_cultuur {
  background-image: url(/assets/backgrounds/culture_6.webp);
  background-size: cover;
  background-position: center;
}

.no-webp .container_twee_5_cultuur {
  background-image: url(/assets/backgrounds/culture_6.jpg);
  background-size: cover;
  background-position: center;
}

.webp .container_twee_5_ontspanning {
  background-image:url(/assets/backgrounds/relax_6.webp);
  background-size:  cover;
  background-position: center;
}

.no-webp .container_twee_5_ontspanning {
  background-image:url(/assets/backgrounds/relax_6.jpg);
  background-size:  cover;
  background-position: center;
}